# Created by .ignore support plugin (hsz.mobi)
/vendor/
!/test/temp/categorydata.cache.xml
!/test/temp/assets.gw2taco.cache.json
/test/temp/
/.idea/
/node_modules/
!/test/temp/categorydata.cache.xml
!/test/temp/assets.gw2taco.cache.json
*.bak
/test/.nexe
/test/temp/temp/
/test/temp/temp2/
/test/temp/poidata.import/
/test/temp/runtime/
*.d.ts
*.bak

/test/*.js
/gulp-task/*.js

/gulpfile.js
/project.config.js
*.stackdump
/gulp-task/gw2taco/*.js
/bin/*.js
